.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin: 40px auto;
    border: 2px solid #122819; 
    border-radius: 15px; 
    padding: 20px;
    position: relative;
    background-color: #deeae3; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  
  .display {
    width: 100%;
    text-align: right;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #8cb492;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
   .input {
    font-size: 20px;
    color: #333;
    font-weight: bold;
  }
  
  .output {
    font-size: 22px;
    color: black;
  }
  
   .buttons {
    width: 100%;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  

  button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  }
  

  button:hover {
    background-color: #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px); 
  }
  
  button:active {
    background-color: #ccc;
    transform: translateY(1px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  button:focus {
    outline: none; 
  }
  
     
  .buttons .row:last-child button:last-child {
    background-color: #76ab7e; 
    color: white;
  }
  
  .buttons .row:last-child button:last-child:hover {
    background-color: #28642c; 
  }
  